/.devpanel/dumps/
/.easy_encryption/
/.editorconfig
/.gitattributes
/.vscode/
/AGENTS*
/assets/
/config/*
!/config/sync/
!/config/sync/**
/CONTRIBUTING*
/LICENSE*
/logs/*
!/logs/.gitkeep
/packages.json
/patches.lock.json
/private/
/README*
/recipes/
/vendor/
/web/*
!/web/modules/
!/web/modules/custom/
!/web/modules/custom/**
!/web/themes/
!/web/themes/custom/
!/web/themes/custom/**
